<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>ConeCura || Terapia com cones indu</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="" />
    </head>
    <body>