<%- include("./partials/header.ejs") %>
<%- include("./partials/menu.ejs") %>
<div class="container">
    <section class="backImg">
        <div class="content">
            <p>
                <b>
                    "Bem-vindo ao nosso espaço dedicado à Terapia com Cones Indus. 
                    Descubra o poder transformador dessa antiga prática terapêutica 
                    e desfrute de uma jornada de cura e bem-estar."
                </b>
            </p>
        </div>
    </section>
    <section class="aboutConeIndu">
        <div class="content2">
            <h2>Sobre a Terapia com Cones Indus</h2>
            <div class="col">
                <h2 class="titleDescription">Descrição da Terapia</h2>
                <p class="description">
                    <b>
                        A Terapia com Cones Indus é uma técnica holística de cura que 
                        remonta a antigas tradições. Utilizando cones de cera de abelha 
                        e ervas medicinais, essa prática visa equilibrar a energia vital 
                        do corpo, promovendo a saúde física, mental e espiritual.
                    </b>
                </p>
            </div>
            <div class="col">
                <h2 class="titleDescription">Benefícios para a Saúde</h2>
                <p class="description"></p>
                    <b>
                        Experimente uma variedade de benefícios para a saúde com a 
                        Terapia com Cones Indus, incluindo alívio do estresse, 
                        melhorias na qualidade do sono, redução da inflamação e 
                        promoção da saúde respiratória. Descubra como essa técnica 
                        antiga pode melhorar sua qualidade de vida hoje.
                    </b>
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <section>
        
    </section>
</div>
<%- include("./partials/footer.ejs") %>